{% extends "equipment/base_site.html" %}
{% load static staticfiles %}
{% block extracss %}
    {{ block.super }}
    <style>
    .col-xs-2.boxing{
        padding: 0;
        width: 70px;
    }
    </style>
{% endblock %}
{% block content %}

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            Welcome sur la page de la fiche de personnage! Pour te déco, c'est ici : <a href="/logout">Log out</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-6">
                    Stats
				</div>
				<div class="col-md-6">
                    Status
				</div>
			</div>
		</div>
		<div class="col-md-6">
            Inventory
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
            Equipment
		</div>
		<div class="col-md-6">
            Skills
		</div>
	</div>
</div>
{% endblock content %}

{% block extrajs %}
    {{ block.super }}
    <script>
    $(function () {
        $(document).tooltip();
    })
    </script>
{% endblock %}

{% comment %}
    <div class="container-fluid">
    <div class="row-fluid">
        <div class="col-xs-12">
            Welcome sur la page de la fiche de personnage! Pour te déco, c'est ici : <a href="/logout">Log out</a>
        </div>
    </div>
        <div class="row-fluid">
            <div class="col-xs-4">
                <h2 align="center"> Statistiques et statut: </h2>
                <div class="row-fluid" style="height: 175px">
                    <div class="col-xs-6">
                    <p><strong> Force </strong> : {{ player.stats.strength }}</p>
                    <p><strong> Dextérité </strong> : {{ player.stats.dexterity }}</p>
                    <p><strong> Instinct </strong> : {{ player.stats.instinct }}</p>
                    <p><strong> Débrouillardise </strong> : {{ player.stats.craftiness }}</p>
                    <p><strong> Intelligence </strong> : {{ player.stats.intelligence }}</p>
                    <p><strong> Éloquence </strong> : {{ player.stats.eloquence }}</p>
                    <p>Karma : {{ player.stats.karma }}</p>
                    </div>
                    <div class="col-xs-6">
                    <p> État du joueur: </p>
                    <div>
                        {% if player.status.life_status.all %}
                            {% for each in player.status.life_status.all %}
                                <div>
                                    {% if each.picture %}
                                        <img height="50px" width="50px" src="{{ each.picture }}" title="{{ each.flavor_text }}"/>
                                    {% endif %}
                                    <a style="color: black;" {% if not each.picture %}title="{{ each.flavor_text }}" {% endif %} >
                                        <strong> {{ each.name }} </strong>
                                    </a>
                                </div>
                            {% endfor %}
                        {% else %}
                            Pas empoisonné, ni ensorcelé, ni entrain de saigner... Niquel! <strong> Tout va bien! </strong>
                        {% endif %}
                    </div>

                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-xs-6">
                        Teest Teest
                    </div>
                    <div class="col-xs-6">
                        Test
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-2 col-xs-4">
                <h2 align="center"> Inventaire et Skills</h2>
                <h3> Inventaire :</h3>
                <div class="row-fluid">
                    <div class="row-fluid" style="margin-top:10%;">
                        <div class="col-xs-2 boxing"><div class="itembox">O</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">1</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">2</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">3</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">4</div></div>
                    </div>
                    <br>
                    <div class="row-fluid" style="margin-top:10%;">
                        <div class="col-xs-2 boxing"><div class="itembox">O</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">1</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">2</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">3</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">4</div></div>
                    </div>
                    <br>
                    <div class="row-fluid" style="margin-top:10%;">
                        <div class="col-xs-2 boxing"><div class="itembox">O</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">1</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">2</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">3</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">4</div></div>
                    </div>
                    <br>
                    <div class="row-fluid" style="margin-top:10%;">
                        <div class="col-xs-2 boxing"><div class="itembox">O</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">1</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">2</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">3</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">4</div></div>
                    </div>
                    <br>
                    <div class="row-fluid" style="margin-top:10%;">
                        <div class="col-xs-2 boxing"><div class="itembox">O</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">1</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">2</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">3</div></div>
                        <div class="col-xs-2 boxing"><div class="itembox">4</div></div>
                    </div>
                </div>
                <br><br><br><br>
                <div class="row-fluid">
                    <h3>Skills :</h3>
                    {{ skillsselect }}
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-xs-6">
                <div class="row-fluid equipmentrow">
                    <div id="head" class="col-xs-6 col-xs-offset-3">
                        <div class="equipmentbox" id="head_equip"></div>
                        <progress class="aria-valuenow" id="life_head" value="{{ player.status.life_head }}" max="{{ player.stats.strength }}"></progress>
                    </div>
                </div>
                <div class="row-fluid equipmentrow">
                    <div class="col-xs-4" id="left_arm">
                        Bras droit
                        <div class="equipmentbox" id="leftarm_equip"></div>
                        <progress class="aria-valuenow" id="life_leftarm" value="{{ player.status.life_left_arm }}" max="{{ player.stats.strength }}"></progress>
                    </div>
                    <div id="torso" class="col-xs-4">
                        Torse
                        <div class="equipmentbox" id="torso_equip"></div>
                        <progress class="aria-valuenow" id="life_torso" value="{{ player.status.life_torso }}" max="{{ player.stats.strength }}"></progress>
                    </div>
                    <div id="right_arm" class="col-xs-4">
                        Bras gauche
                        <div class="equipmentbox" id="rigtharm_equip"></div>
                        <progress class="aria-valuenow" id="life_rightarm" value="{{ player.status.life_right_arm }}" max="{{ player.stats.strength }}"></progress>
                    </div>
                </div>
                <div class="row-fluid equipmentrow">
                    <div id="left_leg" class="col-xs-offset-1 col-xs-5">
                        Jambe gauche
                        <div class="equipmentbox" id="rightleg_equip"></div>
                        <progress class="aria-valuenow" id="life_leftleg" value="{{ player.status.life_left_leg }}" max="{{ player.stats.strength }}"></progress>
                    </div>
                    <div id="right_leg" class="col-xs-5">
                        Jambe droite
                        <div class="equipmentbox" id="leftleg_equip"></div>
                        <progress class="aria-valuenow" id="life_leftarm" value="{{ player.status.life_right_leg }}" max="{{ player.stats.strength }}"></progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endcomment %}